.footer {
    grid-area: footer;

    background: #41295a;  
    background: linear-gradient(to bottom, #2F0743, #41295a);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        height: 60px;

        text-align: center;

        @include for-tablet {
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            font-size: 14px;
        }

        a {
            text-decoration: underline;
            &:hover {
                color: #963199;
            }
        }
    }

    &__author {
    }

    &__api {
    }
}
.container {
}
